{% extends "board_base.html" %}
{% block content %}

  <section class="board_detail-block">
    <div class="container mt-3">
    <div class="card border-dark mb-3">
      <div class="card-header">
        <h4 class="pt-1">Board Title</h4>
        <p class="pt-1">Created by Admin on January 1, 2022</p>
      </div>
      <div class="card-header">
        <a href="#" class="text-decoration-none text-muted" role="button" download>
          첨부파일 : <i class="fa-solid fa-file-lines me-2"></i>FileName
        </a>
      </div>
      <div class="card-body text-dark">
        <p class="card-text">Board Contents</p>
        <p class="card-text">Board Contents</p>
        <p class="card-text">Board Contents</p>
        <p class="card-text">Board Contents</p>
        <p class="card-text">Board Contents</p>
        <p class="card-text">Board Contents</p>
        <div class="mt-4">

        </div>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <a href="#" class="btn btn-outline-dark">목록</a>
        <span>
          <a href="#" class="btn btn-outline-dark">수정</a>
          <a href="#" class="btn btn-outline-dark">삭제</a>
        </span>
      </div>
    </div>
    </div>
  </section>
{% endblock %}