{% extends 'board_base.html' %}
{% block content %}

  <!-- Board 영역 -->
  <div class="container">
    <table class="table table-striped">

      <!-- Table Head 영역 -->
      <thead class="thead-dark">
        <tr class="text-center">
          <th>번호</th>
          <th style="width:50%">제목</th>
          <th>글쓴이</th>
          <th>작성일</th>
        </tr>
      </thead>

      <!-- Table Body 영역 -->
      <tbody>
        <tr class="text-center">
          <td>5</td>
          <td>TEST</td>
          <td>User5</td>
          <td>2022-01-01</td>
        </tr>
        <tr class="text-center">
          <td>4</td>
          <td>TEST</td>
          <td>User4</td>
          <td>2022-01-01</td>
        </tr>
        <tr class="text-center">
          <td>3</td>
          <td>TEST</td>
          <td>User3</td>
          <td>2022-01-01</td>
        </tr>
        <tr class="text-center">
          <td>2</td>
          <td>TEST</td>
          <td>User2</td>
          <td>2022-01-01</td>
        </tr>
        <tr class="text-center">
          <td>1</td>
          <td>TEST</td>
          <td>User1</td>
          <td>2022-01-01</td>
        </tr>
      </tbody>
    </table><br>

    <!-- pagination 영역 -->
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" data-page="#" href="#">이전</a>
      </li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" data-page="#" href="#">1</a>
      </li>  
      <li class="page-item" aria-current="page">
        <a class="page-link" data-page="#" href="#">2</a>
      </li>  
      <li class="page-item" aria-current="page">
        <a class="page-link" data-page="#" href="#">3</a>
      </li>  
      <li class="page-item" aria-current="page">
        <a class="page-link" data-page="#" href="#">4</a>
      </li>  
      <li class="page-item" aria-current="page">
        <a class="page-link" data-page="#" href="#">5</a>
      </li>  
      <li class="page-item">
        <a class="page-link" data-page="#" href="#">다음</a>
      </li>
    </ul>
  </div>
{% endblock %}